html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, "Hannari", BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  line-height: 1.6;
  font-size: 18px;
}

.wf-hannari {
  font-family: "Hannari";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

a:hover {
  text-decoration: underline;
}

/* 1rem = 10px */
html {
  font-size: 62.5%;
  background-color: #edece7;
}

h1 {
  font-size: 2.6rem;
}

img {
  max-width: 100%;
  display: block;
}
